#!/bin/sh
#
# Minimal multicopter startup for the EmbedFire LubanCat RK3588 prototype.
#------------------------------------------------------------------------------

# PX4 commands need the px4- prefix when executed by the host shell.
. px4-alias.sh

param select parameters.bson
param import

. ./etc/init.d/rc.board_defaults

# Generic quadrotor X. Keep the current configuration after first setup.
param set SYS_AUTOCONFIG 0
param set MAV_TYPE 2
param set SYS_AUTOSTART 4001

dataman start
load_mon start
battery_status start

. ./etc/init.d/rc.board_sensors
. ./etc/init.d/rc.board_extras

manual_control start
sensors start
commander start
navigator start
ekf2 start
land_detector start multicopter
mc_hover_thrust_estimator start
flight_mode_manager start
mc_pos_control start
mc_att_control start
mc_rate_control start
control_allocator start

# Broadcast MAVLink to the LAN for QGroundControl discovery.
mavlink start -x -u 14556 -r 1000000 -p

logger start -t -b 200
mavlink boot_complete
